:root {
  --section-padding: 60px;
  --main-color: #146ef5;
  --seconday-color: #1c1c20;
  --button-padd: 10px 20px;
  --transition: 0.3s;
  --para: #4b5563;
  --first-wht: #ffffff;
  --second-wht: #fafbfd;
  --blck: #020618;
  --border-clr: #d6dff0;
}
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #333;
  background: var(--first-wht);
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Larg */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.main-title {
  color: var(--blck);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 80px;
  font-size: 2.5rem;
  position: relative;
  letter-spacing: -0.05em;
}
.main-title::after {
  content: "";
  position: absolute;
  background: var(--main-color);
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  height: 2.5px;
  width: 80px;
}
/* ---------------------- */

/* Start Navbar */
.navbar {
  background-color: var(--first-wht);
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  padding: 0 5%;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  max-width: 1400px;
  margin: 0 auto;
}
.logo a {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: var(--blck);
}
.nav-links {
  display: flex;
  list-style: none;
}
.nav-links li {
  position: relative;
}
.nav-links a {
  color: var(--blck);
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  padding: 20px;
  position: relative;
  transition: 0.5s;
}
.nav-links a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background-color: var(--main-color);
  transition: 0.3s;
}
.nav-links a:hover {
  color: var(--main-color);
  background-color: var(--second-wht);
}
.nav-links a:hover::before {
  width: 100%;
}
.hamburger {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--seconday-color);
}
.mobile-menu {
  display: none;
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  background-color: var(--first-wht);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  z-index: 999;
  transform: translateY(-150%);
  transition: transform 0.3s ease;
}
.mobile-menu.active {
  transform: translateY(0);
}
.mobile-links {
  list-style: none;
  padding: 0 5%;
}
.mobile-links li {
  margin-bottom: 20px;
}
.mobile-links a {
  text-decoration: none;
  color: var(--blck);
  font-weight: 500;
  font-size: 1.1rem;
}
@media (max-width: 992px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .mobile-menu {
    display: block;
  }
}
.navbar.sticky {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}
/* End Navbar */

/* Start Header */
header {
  padding-top: 70px;
  background-color: var(--first-wht);
  color: #1c1c20;
  box-shadow: 4.397px 2.642px 12px 0 rgba(118, 118, 138, 0.1);
  padding-bottom: 50px;
  animation: fadeIn 1s ease-out;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 50px 23px;
}
@media (max-width: 767px) {
  header .container {
    flex-direction: column;
    padding-top: 70px;
  }
}
.header-text {
  max-width: 600px;
}
.header-text .hello {
  display: block;
  font-size: 25px;
  color: var(--main-color);
  font-weight: bold;
  margin-left: 3px;
  margin-bottom: 9px;
}
.header-text h1 {
  color: var(--blck);
  font-size: 70px;
  line-height: 1;
  margin-top: 18px;
  letter-spacing: -0.05em;
  margin: 0;
  line-height: 1;
}
.header-text h1 > span {
  display: inline;
  font-size: 70px;
  color: var(--main-color);
  margin-right: 10px;
  margin-bottom: 10px;
}
.header-text h3 {
  font-size: 30px;
  color: var(--main-color);
  margin: 10px 0;
}
.header-text p {
  font-size: 20px;
  margin: 0 0 10px;
  color: var(--para);
}
.header-text .header-contact {
  display: flex;
  align-items: center;
}
.header-buttons {
  display: flex;
  gap: 15px;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .header-text h1,
  .header-text h1 > span {
    font-size: 60px;
  }
  .header-text h3 {
    font-size: 25px;
  }
  .header-text .header-contact {
    flex-direction: column;
  }
  .header-buttons {
    margin-right: 0;
  }
}
.header-text .btn {
  display: inline-block;
  background-color: var(--blck);
  margin-top: 10px;
  padding: 7px 16px;
  color: var(--first-wht);
  text-decoration: none;
  transition: 0.3s;
  border-radius: 7px;
  font-weight: 500;
}
.header-text .btn-outline {
  display: inline-block;
  background-color: var(--first-wht);
  border: 2px solid var(--blck);
  margin-top: 10px;
  padding: 7px 16px;
  color: var(--blck);
  text-decoration: none;
  transition: 0.3s;
  border-radius: 7px;
  font-weight: 500;
}
.btn-outline:hover {
  background-color: transparent;
  background-color: var(--main-color);
  color: var(--first-wht);
  background-color: #020618;
}
.header-photo img {
  width: 350px;
  border-radius: 50%;
  border: 5px solid var(--main-color);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
@media (min-width: 1200px) {
  .header-photo img {
    margin-right: 45px;
  }
}
.social-icons {
  display: flex;
  justify-content: left;
  gap: 15px;
  margin-top: 13.5px;
}
.social-icons a {
  color: var(--blck);
  font-size: 1.5em;
  transition: 0.3s;
}
.social-icons a:hover {
  transform: scale(1.2);
}
@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    text-align: left;
    gap: 20px;
  }
  .header-content {
    display: flex;
    flex-direction: column;
  }
  .header-photo {
    order: -1;
  }
  header h1 {
    font-size: 2.5em;
  }
  header p {
    font-size: 1.2em;
  }
  .header-photo img {
    width: 220px;
    height: 220px;
  }
}
/* End Header */

/* Start About */
.about {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background: var(--second-wht);
  text-align: center;
}
.about-box {
  max-width: 800px;
  margin: 0 auto;
  transition-duration: 0.3s;
  margin-bottom: 30px;
}
.about-box p {
  margin: 0;
  font-size: 1.3em;
  line-height: 1.6;
  color: var(--para);
}
/* End About */

/* Start Education */
.education {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background: var(--first-wht);
}
.timeline {
  position: relative;
  /* max-width: 800px; */
  margin: 0 auto;
  padding: 40px 0;
}
.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 4px;
  height: 100%;
  background: #e5e7eb;
  transform: translateX(-50%);
}
.timeline-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
  position: relative;
}
.timeline-content {
  width: 46%;
  padding: 20px;
  background: var(--second-wht);
  box-shadow: 4.397px 12.642px 18.208px 0 rgba(118, 118, 138, 0.1);
  border-radius: 15px;
  border: 2px solid var(--border-clr);
}
.timeline-h3-1 {
  font-weight: 500;
  line-height: 1.5;
  font-size: 23px;
  margin-top: 0;
  margin-bottom: 10px;
}
.timeline-h3-2 {
  font-weight: 500;
  line-height: 1.5;
  font-size: 23px;
  margin-top: 0;
  margin-bottom: 10px;
}
.timeline-content .school {
  margin: 0px 0px 5px;
  color: var(--para);
}
.timeline-content .date {
  margin: 0 0 5px;
  color: var(--para);
}
.timeline-content .desc {
  margin: 10px 0;
}
.timeline-dot {
  width: 30px;
  height: 30px;
  background-color: var(--main-color);
  border: 5px solid var(--first-wht);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  border-radius: 50%;
}
.timeline-item:nth-child(odd) .timeline-content {
  margin-left: auto;
}
.timeline-item:nth-child(even) .timeline-content {
  margin-right: auto;
}
@media (max-width: 768px) {
  .timeline::before {
    left: 20px;
  }
  .timeline-dot {
    left: 20px;
  }
  .timeline-content {
    width: 100%;
    margin-left: 40px;
  }
  .timeline-item:nth-child(odd) .timeline-content,
  .timeline-item:nth-child(even) .timeline-content {
    margin-left: 40px;
    margin-right: 0;
  }
}
/* End Education */

/* Start Project */
.projects {
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) + 60px);
  background: var(--second-wht);
}
.projects .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 30px;
}
.projects .box {
  background-color: var(--first-wht);
  box-shadow: 4.397px 12.642px 18.208px 0 rgba(118, 118, 138, 0.1);
  padding: 30px;
  border-radius: 15px;
  cursor: pointer;
  border: 2px solid var(--border-clr);
}
@media (max-width: 767px) {
  .projects .box {
    padding: 20px;
  }
  .projects .container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
.projects .box img {
  width: 50px;
  border-radius: 10px;
}
.projects .box h3 {
  margin-top: 5px;
  font-size: 20px;
  margin-bottom: 12px;
}
.projects .box .pro-skills span {
  color: #333;
  background-color: #f1f5f9;
  padding: 6px 8px;
  font-size: 13px;
  border-radius: 8px;
  margin-right: 5px;
}
.projects .box .view a {
  font-size: 13px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}
.projects .box a i {
  color: #333;
  font-size: 16px;
  margin-left: 6px;
}
.projects .box .view:hover a,
.projects .box .view:hover a i {
  color: var(--main-color);
}
.view a i {
  transition: transform 0.3s;
}
.view:hover a i {
  transform: translateX(3px);
}
/* End Project */

/* Start Certification*/
.certifications {
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) + 60px);
  background: var(--first-wht);
}
.certifications-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}
.certification-item {
  background: var(--second-wht);
  padding: 20px;
  box-shadow: 4.397px 12.642px 18.208px 0 rgba(118, 118, 138, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 15px;
  border: 2px solid var(--border-clr);
}
.certification-item:hover {
  transform: scaleX(1.01) scaleY(1.01);
  box-shadow: 0 12px 18px -6px rgba(10, 0, 0, 0.16);
}
.certification-item h3 {
  margin: 8px 0;
  font-size: 23px;
  color: var(--main-color);
  font-weight: 600;
}
.certification-item p {
  margin: 5px 0;
  color: var(--para);
}
.certification-item .image img {
  width: 100%;
}
.certifications .certification-item a {
  display: inline-block;
  background-color: var(--blck);
  margin-top: 10px;
  padding: 7px 16px;
  color: var(--first-wht);
  text-decoration: none;
  transition: 0.3s;
  border-radius: 7px;
  font-weight: 500;
}
.certifications .certification-item a i {
  margin-left: 5px;
  transition: 0.3s;
}
.certifications .certification-item a:hover i {
  margin-left: 10px;
}
/* End Certification */

/* Start Skills */
.skills {
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) + 80px);
  background-color: var(--second-wht);
}
.skills .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 30px;
}
.skills .box {
  text-align: center;
  background-color: var(--first-wht);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 4.397px 12.642px 18.208px 0 rgba(118, 118, 138, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 2px solid var(--border-clr);
  cursor: pointer;
}
.skills .box:hover {
  transform: scaleX(1.03) scaleY(1.03);
  box-shadow: 0 12px 18px -6px rgba(10, 0, 0, 0.16);
}
.skills .box img {
  width: 100px;
}
.skills .box p {
  font-size: 20px;
  margin: 0;
}
/* End Skills */

/* Start Contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background: var(--blck);
  margin: 20px 0 0;
  text-align: center;
  box-shadow: 4.397px -2.358px 12px 0 rgba(118, 118, 138, 0.1);
}
.contact h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
  color: var(--first-wht);
}
.contact h2 strong {
  font-weight: bold;
}
.contact-box {
  border: 2px solid var(--first-wht);
  padding: 20px;
  max-width: 430px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  gap: 30px;
  border-radius: 15px;
}
.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact-item i {
  font-size: 1.5em;
  color: var(--first-wht);
}
.contact-item p {
  margin: 0;
  font-size: 1.1em;
  color: var(--first-wht);
}
.contact-item a {
  color: var(--first-wht);
  text-decoration: none;
  transition: color 0.3s ease;
}
.contact-item a:hover {
  color: var(--main-color);
  font-weight: 500;
}
@media (max-width: 768px) {
  .contact-box {
    flex-direction: column;
    gap: 15px;
    padding: 15px;
  }
  .contact-item {
    justify-content: center;
  }
}
/* End Contact */

/* Start Footer */
footer {
  background: var(--blck);
  color: var(--first-wht);
  text-align: center;
  padding: 10px 0;
}
footer p {
  padding: 10px;
  margin: 0;
  font-size: 0.9em;
}
/* End Footer */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
